{
    "openapi": "3.0.0",
    "info": {
        "title": "nocodb",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://nocodb.benevoles.cosmolyon.com"
        },
        {
            "url": "{customUrl}",
            "variables": {
                "customUrl": {
                    "default": "https://nocodb.benevoles.cosmolyon.com",
                    "description": "Provide custom nocodb app base url"
                }
            }
        }
    ],
    "paths": {
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Volunteers": {
            "get": {
                "summary": "Volunteers list",
                "operationId": "volunteers-db-table-row-list",
                "description": "List of all rows from Volunteers table and response data fields can be filtered based on query params.",
                "tags": [
                    "Volunteers"
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "fields",
                        "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "sort",
                        "description": "Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "where",
                        "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 1
                        },
                        "in": "query",
                        "name": "limit",
                        "description": "The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.",
                        "example": 25
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 1
                        },
                        "in": "query",
                        "name": "shuffle",
                        "description": "The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.",
                        "example": 0
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "offset",
                        "description": "The `offset` parameter used for pagination, the value helps to select collection from a certain index.",
                        "example": 0
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "nested[nc_curg___nc_m2m_w5i3lbdpwrs][where]",
                        "description": "This can be used for filtering rows in nested column `nc_curg___nc_m2m_w5i3lbdpwrs`, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `nested[nc_curg___nc_m2m_w5i3lbdpwrs][where]=(field1,eq,value)`"
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "nested[nc_curg___nc_m2m_w5i3lbdpwrs][offset]",
                        "description": "The `offset` parameter used for pagination  of nested `nc_curg___nc_m2m_w5i3lbdpwrs` rows, the value helps to select collection from a certain index.",
                        "example": 0
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 1
                        },
                        "in": "query",
                        "name": "nested[nc_curg___nc_m2m_w5i3lbdpwrs][limit]",
                        "description": "The `limit` parameter used for pagination of nested `nc_curg___nc_m2m_w5i3lbdpwrs` rows, the response collection size depends on limit value and default value is `25`.",
                        "example": "25"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "nested[nc_curg___nc_m2m_w5i3lbdpwrs][fields]",
                        "description": "Array of field names or comma separated filed names to include in the in nested column `nc_curg___nc_m2m_w5i3lbdpwrs` result. In array syntax pass it like `fields[]=field1&fields[]=field2.`. Example : `nested[nc_curg___nc_m2m_w5i3lbdpwrs][fields]=field1,field2`"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "nested[nc_curg___nc_m2m_w5i3lbdpwrs][sort]",
                        "description": "Comma separated field names to sort rows in nested column `nc_curg___nc_m2m_w5i3lbdpwrs` rows, it will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `nested[nc_curg___nc_m2m_w5i3lbdpwrs][sort]=field1,-field2`"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "list": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/VolunteersResponse"
                                            }
                                        },
                                        "PageInfo": {
                                            "$ref": "#/components/schemas/Paginated"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Volunteers create",
                "description": "Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.",
                "operationId": "volunteers-create",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VolunteersResponse"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Volunteers"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VolunteersRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Volunteers/{rowId}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "rowId",
                    "in": "path",
                    "required": true,
                    "example": 1,
                    "description": "Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."
                }
            ],
            "get": {
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "fields",
                        "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
                    }
                ],
                "summary": "Volunteers read",
                "description": "Read a row data by using the **primary key** column value.",
                "operationId": "volunteers-read",
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VolunteersResponse"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Volunteers"
                ]
            },
            "patch": {
                "summary": "Volunteers update",
                "operationId": "volunteers-update",
                "description": "Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VolunteersRequest"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Volunteers"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {}
                        }
                    }
                }
            },
            "delete": {
                "summary": "Volunteers delete",
                "operationId": "volunteers-delete",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "tags": [
                    "Volunteers"
                ],
                "description": "Delete a row by using the **primary key** column value."
            }
        },
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Volunteers/count": {
            "get": {
                "summary": "Volunteers count",
                "operationId": "volunteers-count",
                "description": "Get rows count of a table by applying optional filters.",
                "tags": [
                    "Volunteers"
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "where",
                        "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Volunteers/find-one": {
            "get": {
                "summary": "Volunteers find-one",
                "operationId": "volunteers-db-table-row-find-one",
                "description": "Find first record matching the conditions.",
                "tags": [
                    "Volunteers"
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "fields",
                        "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "where",
                        "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "sort",
                        "description": "Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VolunteersResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Volunteers/groupby": {
            "get": {
                "summary": "Volunteers groupby",
                "operationId": "volunteers-groupby",
                "description": "Group by a column.",
                "tags": [
                    "Volunteers"
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "column_name",
                        "description": "Column name of the column you want to group by, eg. `column_name=column1`"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "sort",
                        "description": "Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "where",
                        "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 1
                        },
                        "in": "query",
                        "name": "limit",
                        "description": "The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.",
                        "example": 25
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "offset",
                        "description": "The `offset` parameter used for pagination, the value helps to select collection from a certain index.",
                        "example": 0
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 1
                        },
                        "in": "query",
                        "name": "shuffle",
                        "description": "The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.",
                        "example": 0
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "list": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Groupby"
                                            }
                                        },
                                        "PageInfo": {
                                            "$ref": "#/components/schemas/Paginated"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/db/data/bulk/v1/p1d5e0hzwz1r39a/Volunteers": {
            "post": {
                "summary": "Volunteers bulk insert",
                "description": "To insert large amount of data in a single api call you can use this api. It's similar to insert method but here you can pass array of objects to insert into table. Array object will be key value paired column name and value.",
                "operationId": "volunteers-bulk-create",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Volunteers"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {}
                        }
                    }
                }
            },
            "patch": {
                "summary": "Volunteers bulk  update",
                "description": "To update multiple records using it's primary key you can use this api. Bulk updated api accepts array object in which each object should contain it's primary columns value mapped to corresponding alias. In addition to primary key you can include the fields which you want to update",
                "operationId": "volunteers-bulk-update",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Volunteers"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {}
                        }
                    }
                }
            },
            "delete": {
                "summary": "Volunteers bulk delete by IDs",
                "description": "To delete multiple records using it's primary key you can use this api. Bulk delete api accepts array object in which each object should contain it's primary columns value mapped to corresponding alias.",
                "operationId": "volunteers-bulk-delete",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Volunteers"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {}
                        }
                    }
                }
            }
        },
        "/api/v1/db/data/bulk/v1/p1d5e0hzwz1r39a/Volunteers/all": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "in": "query",
                    "name": "where",
                    "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
                }
            ],
            "patch": {
                "summary": "Volunteers Bulk update with conditions",
                "description": "This api helps you update multiple table rows in a single api call. You don't have to pass the record id instead you can filter records and apply the changes to filtered records. Payload is similar as normal update in which you can pass any partial row data to be updated.",
                "operationId": "volunteers-bulk-update-all",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Volunteers"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {}
                        }
                    }
                }
            },
            "delete": {
                "summary": "Bulk delete with conditions",
                "description": "This api helps you delete multiple table rows in a single api call. You don't have to pass the record id instead you can filter records and delete filtered records.",
                "operationId": "volunteers-bulk-delete-all",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Volunteers"
                ]
            }
        },
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Volunteers/{rowId}/{relationType}/{columnName}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "rowId",
                    "in": "path",
                    "required": true,
                    "example": 1,
                    "description": "Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."
                },
                {
                    "schema": {
                        "type": "string",
                        "enum": [
                            "mm",
                            "hm"
                        ]
                    },
                    "name": "relationType",
                    "in": "path",
                    "required": true
                },
                {
                    "schema": {
                        "type": "string",
                        "enum": [
                            "Events"
                        ]
                    },
                    "name": "columnName",
                    "in": "path",
                    "required": true
                }
            ],
            "get": {
                "summary": "Relation row list",
                "operationId": "volunteers-nested-list",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Volunteers"
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 1
                        },
                        "in": "query",
                        "name": "limit",
                        "description": "The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.",
                        "example": 25
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "offset",
                        "description": "The `offset` parameter used for pagination, the value helps to select collection from a certain index.",
                        "example": 0
                    }
                ]
            }
        },
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Volunteers/{rowId}/{relationType}/{columnName}/{refRowId}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "rowId",
                    "in": "path",
                    "required": true,
                    "example": 1,
                    "description": "Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."
                },
                {
                    "schema": {
                        "type": "string",
                        "enum": [
                            "mm",
                            "hm"
                        ]
                    },
                    "name": "relationType",
                    "in": "path",
                    "required": true
                },
                {
                    "schema": {
                        "type": "string",
                        "enum": [
                            "Events"
                        ]
                    },
                    "name": "columnName",
                    "in": "path",
                    "required": true
                },
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "refRowId",
                    "in": "path",
                    "required": true
                }
            ],
            "post": {
                "summary": "Relation row add",
                "operationId": "volunteers-nested-add",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Volunteers"
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 1
                        },
                        "in": "query",
                        "name": "limit",
                        "description": "The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.",
                        "example": 25
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 1
                        },
                        "in": "query",
                        "name": "shuffle",
                        "description": "The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.",
                        "example": 0
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "offset",
                        "description": "The `offset` parameter used for pagination, the value helps to select collection from a certain index.",
                        "example": 0
                    }
                ],
                "description": ""
            },
            "delete": {
                "summary": "Relation row remove",
                "operationId": "volunteers-nested-remove",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Volunteers"
                ]
            }
        },
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Volunteers/{rowId}/{relationType}/{columnName}/exclude": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "rowId",
                    "in": "path",
                    "required": true,
                    "example": 1,
                    "description": "Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."
                },
                {
                    "schema": {
                        "type": "string",
                        "enum": [
                            "mm",
                            "hm"
                        ]
                    },
                    "name": "relationType",
                    "in": "path",
                    "required": true
                },
                {
                    "schema": {
                        "type": "string",
                        "enum": [
                            "Events"
                        ]
                    },
                    "name": "columnName",
                    "in": "path",
                    "required": true
                }
            ],
            "get": {
                "summary": "Referenced tables rows excluding current records children/parent",
                "operationId": "volunteers-nested-children-excluded-list",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Volunteers"
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 1
                        },
                        "in": "query",
                        "name": "limit",
                        "description": "The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.",
                        "example": 25
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 1
                        },
                        "in": "query",
                        "name": "shuffle",
                        "description": "The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.",
                        "example": 0
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "offset",
                        "description": "The `offset` parameter used for pagination, the value helps to select collection from a certain index.",
                        "example": 0
                    }
                ]
            }
        },
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Volunteers/export/{type}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string",
                        "enum": [
                            "csv",
                            "excel"
                        ]
                    },
                    "name": "type",
                    "in": "path",
                    "required": true
                }
            ],
            "get": {
                "summary": "Rows export",
                "operationId": "volunteers-csv-export",
                "description": "Export all the records from a table.Currently we are only supports `csv` export.",
                "tags": [
                    "Volunteers"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/octet-stream": {
                                "schema": {}
                            }
                        },
                        "headers": {
                            "nc-export-offset": {
                                "schema": {
                                    "type": "integer"
                                },
                                "description": "Offset of next set of data which will be helpful if there is large amount of data. It will returns `-1` if all set of data exported.",
                                "example": "1000"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "offset",
                        "description": "Helps to start export from a certain index. You can get the next set of data offset from previous response header named `nc-export-offset`.",
                        "example": 0
                    }
                ]
            }
        },
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Volunteers/views/grid": {
            "get": {
                "summary": "grid list",
                "operationId": "Volunteers-grid-row-list",
                "description": "List of all rows from grid grid view and data of fields can be filtered based on query params. Data and fields in a grid view will be filtered and sorted by default based on the applied options in Dashboard.",
                "tags": [
                    "grid ( Volunteers grid )"
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "fields",
                        "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "sort",
                        "description": "Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "where",
                        "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "nested[nc_curg___nc_m2m_w5i3lbdpwrs][where]",
                        "description": "This can be used for filtering rows in nested column `nc_curg___nc_m2m_w5i3lbdpwrs`, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `nested[nc_curg___nc_m2m_w5i3lbdpwrs][where]=(field1,eq,value)`"
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "nested[nc_curg___nc_m2m_w5i3lbdpwrs][offset]",
                        "description": "The `offset` parameter used for pagination  of nested `nc_curg___nc_m2m_w5i3lbdpwrs` rows, the value helps to select collection from a certain index.",
                        "example": 0
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 1
                        },
                        "in": "query",
                        "name": "nested[nc_curg___nc_m2m_w5i3lbdpwrs][limit]",
                        "description": "The `limit` parameter used for pagination of nested `nc_curg___nc_m2m_w5i3lbdpwrs` rows, the response collection size depends on limit value and default value is `25`.",
                        "example": "25"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "nested[nc_curg___nc_m2m_w5i3lbdpwrs][fields]",
                        "description": "Array of field names or comma separated filed names to include in the in nested column `nc_curg___nc_m2m_w5i3lbdpwrs` result. In array syntax pass it like `fields[]=field1&fields[]=field2.`. Example : `nested[nc_curg___nc_m2m_w5i3lbdpwrs][fields]=field1,field2`"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "nested[nc_curg___nc_m2m_w5i3lbdpwrs][sort]",
                        "description": "Comma separated field names to sort rows in nested column `nc_curg___nc_m2m_w5i3lbdpwrs` rows, it will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `nested[nc_curg___nc_m2m_w5i3lbdpwrs][sort]=field1,-field2`"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "list": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/VolunteersgridGridResponse"
                                            }
                                        },
                                        "PageInfo": {
                                            "$ref": "#/components/schemas/Paginated"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "grid create",
                "description": "Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.",
                "operationId": "Volunteers-grid-row-create",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "grid ( Volunteers grid )"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VolunteersgridGridRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Volunteers/views/grid/count": {
            "get": {
                "summary": "grid count",
                "operationId": "Volunteers-grid-row-count",
                "description": "",
                "tags": [
                    "grid ( Volunteers grid )"
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "where",
                        "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "count": {
                                            "type": "number"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Volunteers/views/grid/{rowId}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "rowId",
                    "in": "path",
                    "required": true,
                    "example": 1,
                    "description": "Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."
                }
            ],
            "get": {
                "summary": "grid read",
                "description": "Read a row data by using the **primary key** column value.",
                "operationId": "Volunteers-grid-row-read",
                "responses": {
                    "200": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VolunteersgridGridResponse"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "grid ( Volunteers grid )"
                ]
            },
            "patch": {
                "summary": "grid update",
                "description": "Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.",
                "operationId": "Volunteers-grid-row-update",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "grid ( Volunteers grid )"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VolunteersgridGridRequest"
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "grid delete",
                "operationId": "Volunteers-grid-row-delete",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "tags": [
                    "grid ( Volunteers grid )"
                ],
                "description": "Delete a row by using the **primary key** column value."
            }
        },
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Volunteers/views/grid/export/{type}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string",
                        "enum": [
                            "csv",
                            "excel"
                        ]
                    },
                    "name": "type",
                    "in": "path",
                    "required": true
                }
            ],
            "get": {
                "summary": "grid export",
                "operationId": "Volunteers-grid-row-export",
                "description": "Export all the records from a table view. Currently we are only supports `csv` export.",
                "tags": [
                    "grid ( Volunteers grid )"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/octet-stream": {
                                "schema": {}
                            }
                        },
                        "headers": {
                            "nc-export-offset": {
                                "schema": {
                                    "type": "integer"
                                },
                                "description": "Offset of next set of data which will be helpful if there is large amount of data. It will returns `-1` if all set of data exported.",
                                "example": "1000"
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Events": {
            "get": {
                "summary": "Events list",
                "operationId": "events-db-table-row-list",
                "description": "List of all rows from Events table and response data fields can be filtered based on query params.",
                "tags": [
                    "Events"
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "fields",
                        "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "sort",
                        "description": "Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "where",
                        "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 1
                        },
                        "in": "query",
                        "name": "limit",
                        "description": "The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.",
                        "example": 25
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 1
                        },
                        "in": "query",
                        "name": "shuffle",
                        "description": "The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.",
                        "example": 0
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "offset",
                        "description": "The `offset` parameter used for pagination, the value helps to select collection from a certain index.",
                        "example": 0
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "nested[nc_curg___nc_m2m_w5i3lbdpwrs][where]",
                        "description": "This can be used for filtering rows in nested column `nc_curg___nc_m2m_w5i3lbdpwrs`, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `nested[nc_curg___nc_m2m_w5i3lbdpwrs][where]=(field1,eq,value)`"
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "nested[nc_curg___nc_m2m_w5i3lbdpwrs][offset]",
                        "description": "The `offset` parameter used for pagination  of nested `nc_curg___nc_m2m_w5i3lbdpwrs` rows, the value helps to select collection from a certain index.",
                        "example": 0
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 1
                        },
                        "in": "query",
                        "name": "nested[nc_curg___nc_m2m_w5i3lbdpwrs][limit]",
                        "description": "The `limit` parameter used for pagination of nested `nc_curg___nc_m2m_w5i3lbdpwrs` rows, the response collection size depends on limit value and default value is `25`.",
                        "example": "25"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "nested[nc_curg___nc_m2m_w5i3lbdpwrs][fields]",
                        "description": "Array of field names or comma separated filed names to include in the in nested column `nc_curg___nc_m2m_w5i3lbdpwrs` result. In array syntax pass it like `fields[]=field1&fields[]=field2.`. Example : `nested[nc_curg___nc_m2m_w5i3lbdpwrs][fields]=field1,field2`"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "nested[nc_curg___nc_m2m_w5i3lbdpwrs][sort]",
                        "description": "Comma separated field names to sort rows in nested column `nc_curg___nc_m2m_w5i3lbdpwrs` rows, it will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `nested[nc_curg___nc_m2m_w5i3lbdpwrs][sort]=field1,-field2`"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "nested[communicationOnEvents][fields]",
                        "description": "Array of field names or comma separated filed names to include in the in nested column `communicationOnEvents` result. In array syntax pass it like `fields[]=field1&fields[]=field2.`. Example : `nested[communicationOnEvents][fields]=field1,field2`"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "list": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/EventsResponse"
                                            }
                                        },
                                        "PageInfo": {
                                            "$ref": "#/components/schemas/Paginated"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Events create",
                "description": "Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.",
                "operationId": "events-create",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventsResponse"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Events"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EventsRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Events/{rowId}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "rowId",
                    "in": "path",
                    "required": true,
                    "example": 1,
                    "description": "Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."
                }
            ],
            "get": {
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "fields",
                        "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
                    }
                ],
                "summary": "Events read",
                "description": "Read a row data by using the **primary key** column value.",
                "operationId": "events-read",
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventsResponse"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Events"
                ]
            },
            "patch": {
                "summary": "Events update",
                "operationId": "events-update",
                "description": "Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventsRequest"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Events"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {}
                        }
                    }
                }
            },
            "delete": {
                "summary": "Events delete",
                "operationId": "events-delete",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "tags": [
                    "Events"
                ],
                "description": "Delete a row by using the **primary key** column value."
            }
        },
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Events/count": {
            "get": {
                "summary": "Events count",
                "operationId": "events-count",
                "description": "Get rows count of a table by applying optional filters.",
                "tags": [
                    "Events"
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "where",
                        "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Events/find-one": {
            "get": {
                "summary": "Events find-one",
                "operationId": "events-db-table-row-find-one",
                "description": "Find first record matching the conditions.",
                "tags": [
                    "Events"
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "fields",
                        "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "where",
                        "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "sort",
                        "description": "Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Events/groupby": {
            "get": {
                "summary": "Events groupby",
                "operationId": "events-groupby",
                "description": "Group by a column.",
                "tags": [
                    "Events"
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "column_name",
                        "description": "Column name of the column you want to group by, eg. `column_name=column1`"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "sort",
                        "description": "Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "where",
                        "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 1
                        },
                        "in": "query",
                        "name": "limit",
                        "description": "The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.",
                        "example": 25
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "offset",
                        "description": "The `offset` parameter used for pagination, the value helps to select collection from a certain index.",
                        "example": 0
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 1
                        },
                        "in": "query",
                        "name": "shuffle",
                        "description": "The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.",
                        "example": 0
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "list": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Groupby"
                                            }
                                        },
                                        "PageInfo": {
                                            "$ref": "#/components/schemas/Paginated"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/db/data/bulk/v1/p1d5e0hzwz1r39a/Events": {
            "post": {
                "summary": "Events bulk insert",
                "description": "To insert large amount of data in a single api call you can use this api. It's similar to insert method but here you can pass array of objects to insert into table. Array object will be key value paired column name and value.",
                "operationId": "events-bulk-create",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Events"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {}
                        }
                    }
                }
            },
            "patch": {
                "summary": "Events bulk  update",
                "description": "To update multiple records using it's primary key you can use this api. Bulk updated api accepts array object in which each object should contain it's primary columns value mapped to corresponding alias. In addition to primary key you can include the fields which you want to update",
                "operationId": "events-bulk-update",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Events"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {}
                        }
                    }
                }
            },
            "delete": {
                "summary": "Events bulk delete by IDs",
                "description": "To delete multiple records using it's primary key you can use this api. Bulk delete api accepts array object in which each object should contain it's primary columns value mapped to corresponding alias.",
                "operationId": "events-bulk-delete",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Events"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {}
                        }
                    }
                }
            }
        },
        "/api/v1/db/data/bulk/v1/p1d5e0hzwz1r39a/Events/all": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "in": "query",
                    "name": "where",
                    "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
                }
            ],
            "patch": {
                "summary": "Events Bulk update with conditions",
                "description": "This api helps you update multiple table rows in a single api call. You don't have to pass the record id instead you can filter records and apply the changes to filtered records. Payload is similar as normal update in which you can pass any partial row data to be updated.",
                "operationId": "events-bulk-update-all",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Events"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {}
                        }
                    }
                }
            },
            "delete": {
                "summary": "Bulk delete with conditions",
                "description": "This api helps you delete multiple table rows in a single api call. You don't have to pass the record id instead you can filter records and delete filtered records.",
                "operationId": "events-bulk-delete-all",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Events"
                ]
            }
        },
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Events/{rowId}/{relationType}/{columnName}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "rowId",
                    "in": "path",
                    "required": true,
                    "example": 1,
                    "description": "Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."
                },
                {
                    "schema": {
                        "type": "string",
                        "enum": [
                            "mm",
                            "hm"
                        ]
                    },
                    "name": "relationType",
                    "in": "path",
                    "required": true
                },
                {
                    "schema": {
                        "type": "string",
                        "enum": [
                            "Volunteers",
                            "communicationOnEvents"
                        ]
                    },
                    "name": "columnName",
                    "in": "path",
                    "required": true
                }
            ],
            "get": {
                "summary": "Relation row list",
                "operationId": "events-nested-list",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Events"
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 1
                        },
                        "in": "query",
                        "name": "limit",
                        "description": "The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.",
                        "example": 25
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "offset",
                        "description": "The `offset` parameter used for pagination, the value helps to select collection from a certain index.",
                        "example": 0
                    }
                ]
            }
        },
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Events/{rowId}/{relationType}/{columnName}/{refRowId}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "rowId",
                    "in": "path",
                    "required": true,
                    "example": 1,
                    "description": "Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."
                },
                {
                    "schema": {
                        "type": "string",
                        "enum": [
                            "mm",
                            "hm"
                        ]
                    },
                    "name": "relationType",
                    "in": "path",
                    "required": true
                },
                {
                    "schema": {
                        "type": "string",
                        "enum": [
                            "Volunteers",
                            "communicationOnEvents"
                        ]
                    },
                    "name": "columnName",
                    "in": "path",
                    "required": true
                },
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "refRowId",
                    "in": "path",
                    "required": true
                }
            ],
            "post": {
                "summary": "Relation row add",
                "operationId": "events-nested-add",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Events"
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 1
                        },
                        "in": "query",
                        "name": "limit",
                        "description": "The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.",
                        "example": 25
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 1
                        },
                        "in": "query",
                        "name": "shuffle",
                        "description": "The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.",
                        "example": 0
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "offset",
                        "description": "The `offset` parameter used for pagination, the value helps to select collection from a certain index.",
                        "example": 0
                    }
                ],
                "description": ""
            },
            "delete": {
                "summary": "Relation row remove",
                "operationId": "events-nested-remove",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Events"
                ]
            }
        },
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Events/{rowId}/{relationType}/{columnName}/exclude": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "rowId",
                    "in": "path",
                    "required": true,
                    "example": 1,
                    "description": "Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."
                },
                {
                    "schema": {
                        "type": "string",
                        "enum": [
                            "mm",
                            "hm"
                        ]
                    },
                    "name": "relationType",
                    "in": "path",
                    "required": true
                },
                {
                    "schema": {
                        "type": "string",
                        "enum": [
                            "Volunteers",
                            "communicationOnEvents"
                        ]
                    },
                    "name": "columnName",
                    "in": "path",
                    "required": true
                }
            ],
            "get": {
                "summary": "Referenced tables rows excluding current records children/parent",
                "operationId": "events-nested-children-excluded-list",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Events"
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 1
                        },
                        "in": "query",
                        "name": "limit",
                        "description": "The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.",
                        "example": 25
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 1
                        },
                        "in": "query",
                        "name": "shuffle",
                        "description": "The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.",
                        "example": 0
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "offset",
                        "description": "The `offset` parameter used for pagination, the value helps to select collection from a certain index.",
                        "example": 0
                    }
                ]
            }
        },
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Events/export/{type}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string",
                        "enum": [
                            "csv",
                            "excel"
                        ]
                    },
                    "name": "type",
                    "in": "path",
                    "required": true
                }
            ],
            "get": {
                "summary": "Rows export",
                "operationId": "events-csv-export",
                "description": "Export all the records from a table.Currently we are only supports `csv` export.",
                "tags": [
                    "Events"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/octet-stream": {
                                "schema": {}
                            }
                        },
                        "headers": {
                            "nc-export-offset": {
                                "schema": {
                                    "type": "integer"
                                },
                                "description": "Offset of next set of data which will be helpful if there is large amount of data. It will returns `-1` if all set of data exported.",
                                "example": "1000"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "offset",
                        "description": "Helps to start export from a certain index. You can get the next set of data offset from previous response header named `nc-export-offset`.",
                        "example": 0
                    }
                ]
            }
        },
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Events/views/events": {
            "get": {
                "summary": "events list",
                "operationId": "Events-events-row-list",
                "description": "List of all rows from events grid view and data of fields can be filtered based on query params. Data and fields in a grid view will be filtered and sorted by default based on the applied options in Dashboard.",
                "tags": [
                    "events ( Events grid )"
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "fields",
                        "description": "Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "sort",
                        "description": "Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "where",
                        "description": "This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "nested[nc_curg___nc_m2m_w5i3lbdpwrs][where]",
                        "description": "This can be used for filtering rows in nested column `nc_curg___nc_m2m_w5i3lbdpwrs`, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `nested[nc_curg___nc_m2m_w5i3lbdpwrs][where]=(field1,eq,value)`"
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "nested[nc_curg___nc_m2m_w5i3lbdpwrs][offset]",
                        "description": "The `offset` parameter used for pagination  of nested `nc_curg___nc_m2m_w5i3lbdpwrs` rows, the value helps to select collection from a certain index.",
                        "example": 0
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 1
                        },
                        "in": "query",
                        "name": "nested[nc_curg___nc_m2m_w5i3lbdpwrs][limit]",
                        "description": "The `limit` parameter used for pagination of nested `nc_curg___nc_m2m_w5i3lbdpwrs` rows, the response collection size depends on limit value and default value is `25`.",
                        "example": "25"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "nested[nc_curg___nc_m2m_w5i3lbdpwrs][fields]",
                        "description": "Array of field names or comma separated filed names to include in the in nested column `nc_curg___nc_m2m_w5i3lbdpwrs` result. In array syntax pass it like `fields[]=field1&fields[]=field2.`. Example : `nested[nc_curg___nc_m2m_w5i3lbdpwrs][fields]=field1,field2`"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "nested[nc_curg___nc_m2m_w5i3lbdpwrs][sort]",
                        "description": "Comma separated field names to sort rows in nested column `nc_curg___nc_m2m_w5i3lbdpwrs` rows, it will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `nested[nc_curg___nc_m2m_w5i3lbdpwrs][sort]=field1,-field2`"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "nested[communicationOnEvents][fields]",
                        "description": "Array of field names or comma separated filed names to include in the in nested column `communicationOnEvents` result. In array syntax pass it like `fields[]=field1&fields[]=field2.`. Example : `nested[communicationOnEvents][fields]=field1,field2`"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "list": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/EventseventsGridResponse"
                                            }
                                        },
                                        "PageInfo": {
                                            "$ref": "#/components/schemas/Paginated"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "events create",
                "description": "Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.",
                "operationId": "Events-events-row-create",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "events ( Events grid )"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EventseventsGridRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/db/data/v1/p1d5e0hzwz1r39a/Events/views/events/count": {
            "get": {
                "summary": "events count",
                "operationId": "Events-events-row-count",
[...]
